# Node.js
node_modules/
npm-debug.log
yarn-error.log

# Logs
logs/
*.log
*.log.*

# Environment variables
.env
backend/.env

# Database
*.sqlite
*.sqlite3
*.db
*.tgz

# Build
dist/
build/

# Miscellaneous
.DS_Store
Thumbs.db

# IDEs
.idea/
.vsc/